<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            <h1 class="text-center">Sejam bem vindos ao meu blog!</h1>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-12">
            <p class="text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum laudantium 
                quis iusto repellendus impedit, neque, dolore ipsa molestiae rerum culpa animi itaque. Eveniet debitis 
                blanditiis commodi est quos, laborum provident? Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Dolorum ut ipsam consectetur a veniam delectus sapiente. Deserunt distinctio sit ut, optio consequuntur repudiandae,
                 porro tempore nihil odit placeat assumenda aut?</p>
        </div>
    </div>

    <div class="parallax"></div>
    
    <div class="row mt-5 mb-5">
        <div class="col-md-12 d-flex justify-content-center">
            <button class="btn btn-outline-dark" routerLink="/feed">Ver o feed</button>
        </div>
    </div>
</div>
